/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #1565c0;
    color: #ffc107;
    text-align: center;
    padding: 1.5em;
    border-radius: 10px 10px 0 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
    position: relative;
    padding: 2em;
    background-color: #f0f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    color: #333;
}

img.sticky-image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #0d47a1;
    color: #ffc107;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    outline: none;
}

button:hover {
    background-color: #1565c0;
}

#contactForm {
    display: none;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #0d47a1;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16
